.navbar{
    position:fixed;
width: 1400px;
display: flex;
background-color: white;
}
.fb{
    width: 60px;
height: 50px;}
#inp{
    margin-top: 6px;
    margin-right: 800px;
    height: 40px;width: 200px;
    background-color: aliceblue;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
.hlink{
    width: 520px;
display: flex;
justify-content: space-between;
position: absolute;
left: 450px;
top:9px;}

.ricon{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-left: 100px;
}
.group{    
    width: 40px;
    height: 40px;}
.home{   
     width: 40px;
    height: 40px;}

    .plus{
        background-color: aliceblue;
        width: 30px;
        height: 30px;    border-radius: 50px; 
padding: 8px;
font-weight: bolder;
font-size: x-large;
    }
.notification{    width: 40px;
    height: 40px;}
.Profile{   
         width: 55px;
        height:45px;
        border-radius: 30px; 
        margin: 2px;}